@import url(lib/fonts.scss);
@import url(lib/reset.css);
@import url(lib/swiper-bundle.css);

body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 14px;
   color: #101828;
   background-color: #fff;

   &.scroll-lock-js {
      overflow: hidden;
   }
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.page {
   flex: 1 1 auto;
   margin-top: 56px;

   @media (min-width: 992px) {
      margin-top: 96px;
   }
}

[class*='__container'] {
   max-width: 1248px;
   margin: 0 auto;
   padding: 0 16px;

   @media (min-width: 767.999px) {
      max-width: 1280px;
      padding: 0 32px;
   }
}

// ======= COMMON STYLES ========

.running-line {
   background-color: #12B76A;
   padding: 8px 0;
   white-space: nowrap;
   overflow: hidden;

   &__running {
      animation: runningText 10s linear infinite; 
   }
   
   @keyframes runningText {
      from {
         transform: translateX(0%);
      }
      to {
         transform: translateX(-100%);
      }
   }
   
   &__running-text {
      font-size: 11px;
      font-weight: 500;
      line-height: 1.45;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-right: 8px;
   
      &--opacity {
         opacity: 0.56;
      } 
   }
}

.back-btn {
   display: flex;
   align-items: center;
   gap: 20px;
   width: 100%;
   font-size: 16px;
   color: #101828;
   font-weight: 500;
   line-height: 1.5;
   margin-bottom: 16px;

   @media (min-width: 992px) {
      display: none;
   } 

   &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url(images/header/black-arrow-right.svg);
      background-repeat: no-repeat;
      background-size: 16px;
      transform: rotate(180deg);
   }
}

.swiper,
.swiper-container {
   overflow: visible;

   @media (min-width: 1248px) {
      overflow: hidden;
   }
}

   .title {
      font-size: 32px;
      line-height: 1.25;
      font-weight: 500;
      color: #101828;

      @media (min-width:1150px) {
         font-weight: 300;
      }

      &--text-violet {
         color: #6941C6;

         @media (min-width:1150px) {
            font-weight: 700;
         }
      }
   }

   .show-more-link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 500;
      color: #6941C6;
      padding: 16px 20px 16px 16px;
      background-color: #F4EBFF;
      transition: 0.3s;

      &:hover,
      &:focus-within {
         background-color: #6941C6;
         color: #FFFFFF;

         svg path {
            fill: #FFFFFF;
         }
      }
   }

   .time {
      font-size: 11px;
      font-weight: 500;
      line-height: 1.45;
      color: #667085;
   }

   .socials {
      display: flex;
      gap: 32px;
   }

// ========HEADER=============

.header {
   background-color: #9E77ED;
   padding: 8px 0 7px;
   min-height: 56px;
   display: flex;
   align-items: center;
   position: fixed;
   width: 100%;
   z-index: 9999;

   @media (min-width: 992px) {
      min-height: 96px;
   }

   &__container {
      display: flex;
      align-items: center;
      width: 100%;
   }

   &__logo {
      position: relative;
      z-index: 99999;
      margin-right: auto;

      .header-white-js & path {
         fill: #6941C6;
      }
   }
}

.header-white-js {
   background-color: #FFFFFF;
   box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
               0px 0px 4px -2px rgba(16, 24, 40, 0.06);
}

.nav {
   display: flex;
   gap: 20px;
   color: #FFFFFF;
   align-items: center;

   &__search {
      position: relative;
      z-index: 999999;
      transition: 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;

      &--search-open-js {
         border: 2px solid #6941C6;
         padding: 6px 16px;
         margin-right: 12px;
      }
   }

   &__btn-open {
      vertical-align: middle;

      &:hover,
      &:focus-within {
         svg path {
            fill: #6941C6;
         }
      }

      .header-white-js & path {
         fill: #101828;
      }
   }

   &__btn-close {
      display: none;
      width: 13px;
      height: 13px;
      background-image: url(images/header/close-icon.svg);
      background-repeat: no-repeat;
      background-size: 13px;
   }

   &__input {
      width: 0;
      outline: none;
      transition: 0.4s;
      color: #101828;
      background: transparent;

      &.input-open-js {
         margin: 0 10px;
         width: 560px;
      }
   }

   &__link {
      display: none;

      @media (min-width: 992px) {
         display: flex;
         align-items: center;
         gap: 8px;
         font-weight: 500;
         border: 1px solid #FFFFFF;
         padding: 12px 18px;
         flex-shrink: 0;
         transition: 0.3s;
         
         &:hover,
         &:focus-within {
         color: #6941C6;
         background-color: #FFFFFF;

            svg path {
               fill: #6941C6;
            }
         }

         .header-white-js & {
            background-color: #6941C6;

            &:hover,
            &:focus-within {
            color: #6941C6;
            background-color: #FFFFFF;
            border-color: #6941C6;

               svg path {
                  fill: #6941C6;
               }
            } 
         }
      }
   }

   // burger menu start

   &__burger {
      align-self: center;
      position: relative;
      z-index: 9999;
      width: 18px;
      height: 16px;
      cursor: pointer;

      &--search-open-js {
         display: none;
      }

      @media (min-width: 992px) {
         display: none;
      }

      & span,
      &::before,
      &::after {
         position: absolute;
         left: 0;
         height: 2px;
         width: 100%;
         transition: all 0.3s ease 0s;
         background-color: #FFFFFF;

         .header-white-js & {
            background-color: #101828;
         }
      }

      &::before,
      &::after {
         content: '';
      }

      &::before {
         top: 0;
      }

      &::after {
         bottom: 0;
      }

      & span {
         top: 50%;
         margin-top: -1px;
         transform: scale(1);
      }

      &--active-js span {
         transform: scale(0);
      }

      &--active-js::before {
         top: 50%;
         margin-top: -2px;
         transform: rotate(-45deg);
      }

      &--active-js::after{
         bottom: 50%;
         transform: rotate(45deg);
      }
   }

   // burger menu end
}

.menu {
   display: flex;
   flex-direction: column;
   position: fixed;
   top: 0;
   left: 100%;
   width: 100%;
   height: 100%;
   padding: 75px 16px 0;
   background-color: #FFFFFF;
   color: #101828;
   transition: 0.3s;
   overflow: auto;
   z-index: 9999;
   overflow-x: hidden;

   @media (min-width: 768px) {
      padding: 80px 32px 0;
   }

   @media (min-width: 992px) {
      flex-direction: row;
      align-items: center;
      position: static;
      width: 100%;
      height: auto;
      padding: 0;
      background-color: transparent;
      transition: 0.3s;
      overflow: visible;
      color: #FFFFFF;
      gap: 32px;
   }

   &--search-open {
      z-index: -5;
      visibility: hidden;
      opacity: 0;
   }

   &--active-js {
      left: 0;
   }

   &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      z-index: 9999;
      background-color: #9E77ED;
      border-bottom: 1px solid #D3DBE780;

      @media (min-width: 992px) {  
         display: none;
      }

      .header-white-js & {
         background-color: #FFFFFF;
      }
   }

   &__item {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      cursor: pointer;

      @media (max-width: 992px) {
         &:not(:nth-of-type(4)) {
            padding-bottom: 16px;
            border-bottom: 1px solid #E4E7EC;
            margin-bottom: 16px;
         }
      }

      &--violet {
         display: flex;
         justify-content: space-between;
         align-items: center;
         background-color: #6941C6;
         font-size: 20px;
         line-height: 1.4;
         font-weight: 500;
         color: #FFFFFF !important;
         padding: 16px;
         border: none;
         margin-bottom: 0 !important;
         margin-top: auto;
         margin-left: -16px;
         width: calc(100% + 32px);

         @media (min-width: 768px) {
            margin-left: -32px;
            width: calc(100% + 64px);
         }

         @media (min-width: 992px) {
            display: none;
         }

         &::after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 18px;
            background-image: url(images/header/arrow-right.svg);
            background-repeat: no-repeat;
            background-size: 18px;
         }
      }

      &--has-child {

         @media (max-width: 992px) {
            display: flex;
            justify-content: space-between;

            &::after {
               content: '';
               display: inline-block;
               width: 16px;
               height: 16px;
               background-image: url(images/header/black-arrow-right.svg);
               background-repeat: no-repeat;
               vertical-align: middle;
            }
         }
      }

      .header-white-js & {
         color: #101828;
         transition: 0.4s;

         &:hover,
         &:focus-within {
         color: #6941C6;
            
            svg {
               transform: rotate(180deg);
            }

            svg path {
               fill: #6941C6;
            }
         }
      }

      & svg {
         margin-left: 5px;
         vertical-align: middle;
         transition: 0.4s;

         @media (max-width:992px) {
            display: none;
         }
      }

      .header-white-js & path {
         fill: #101828;
      }
   }

   &__link {
      &:hover,
      &:focus-within {
         color: #6941C6;
      }
   }
}

.popup-menu {
   position: absolute;
   z-index: 9999;
   left: 100%;
   transition: 0.3s;
   width: 100%;
   top: 59px;

   @media (min-width:992px) {
      top: 92px;
   }

   &.open-js {
      left: 0;
   }

   &__section {
      position: absolute;
      width: 100%;
      transition: 0.3s;
      visibility: hidden;
      left: 100%;

      &.open-js {
         visibility: visible;
         left: 0;
      }
   }
}

.top-services {

   &__section {
      font-weight: 500;
      color: #101828;
      background-color: #FFFFFF;
      height: 100vh;
      padding-top: 10px;
      

      @media (min-width: 992px) {
         padding: 16px;
         height: auto;
      }
   }

   &__container {

      @media (min-width: 992px) {
         display: flex;
         justify-content: space-between;
         gap: 32px;
      }
   }

   &__right {
      display: none;

      @media (min-width: 992px) {
         display: block;
      }      
   }

   &__left {
      
      @media (min-width: 992px) {
         align-self: flex-start;
         display: grid;
         grid-template-columns: repeat(4, 194px);
         gap: 8px;
      } 
   }

   &__item {
      position: relative;
      border: 1px solid #E4E7EC;
      padding: 16px;
      transition: 0.3s;

      &:hover {
         background-color: hsl(258, 54%, 95%);
      }

      @media (min-width: 992px) {
         min-height: 126px;
      } 

      &:not(:last-child) {
         margin-bottom: 8px;

         @media (min-width: 992px) {
            margin-bottom: 0;
         } 
      }

      &::after {
         content: '';
         position: absolute;
         display: inline-block;
         width: 13px;
         height: 13px;
         background-image: url(images/violet-arrow.svg);
         background-repeat: no-repeat;
         background-size: 13px;
         top: 36px;
         right: 16px;
      }
   }

   &__link {

      &::before {
         position: absolute;
         top: 0;
         left: 0;
         content: '';
         display: block;
         width: 100%;
         height: 100%;
      }
   }

   &__span {
      font-size: 11px;
      line-height: 1.45;
      text-transform: uppercase;
      color: #667085;
   }

   &__title {
      font-size: 14px;
      line-height: 1.43;

      @media (min-width: 992px) {
         max-width: 126px;
      } 
      
   }

   &__title--violet {
      color: #6941C6;
   }
}

.among-all {
   background-color: #F9FAFB;
   padding: 32px;
   width: 100%;

   &__title {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: 32px;
   }
}

.list-among-all {

   &__item {
      line-height: 1.43;
      font-weight: 500;
      padding: 8px 0;

      &:not(:last-child) {
         border-bottom: 1px solid #E4E7EC;
      }
   }

   &__website {
      display: flex;
      justify-content: space-between;
   }

   &__link {
      font-weight: 400;
      color: #6941C6;
      transition: 0.3s;

      &:hover {
        color: hsl(258, 54%, 32%);
      }

      &::after {
         content: '';
         display: inline-block;
         width: 10px;
         height: 10px;
         transform: rotate(-45deg);
         vertical-align: middle;
         margin-left: 8px;
         background-image: url(images/violet-arrow.svg);
         background-repeat: no-repeat;
         background-size: 10px;
      }
   }
}


.brand-reviews {

   &__section {
      height: 100vh;
      background-color: #FFFFFF;
      padding-top: 10px;

      @media (min-width: 992px) {
         height: auto;
         padding: 16px;
      }
   }

   &__container {
      display: flex;
   }

   &__left {
      @media (min-width: 992px) {
         width: 100%;
         padding-right: 32px;
      }
   }

   &__right {
      display: none;
      background-color: #D1FADF;
      padding: 32px;

      @media (min-width: 992px) {
         display: block;
      }
   }

   &__primary-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500px;
      line-height: 1.43;
      color: #6941C6;
      padding: 10px 16px;
      border: 1px solid #6941C6;
      transition: 0.3s;

      &:hover {
         background-color: rgba(105, 65, 198, 0.3);
      }

      &::after {
         content: '';
         display: inline-block;
         width: 13px;
         height: 13px;
         background-image: url(images/violet-arrow.svg);
         background-repeat: no-repeat;
         background-size: 13px;
      }
   }

   &__list {
      font-size: 14px;
      line-height: 1.43;
      margin-bottom: 32px;
   }

   &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #101828;
      font-weight: 500;
      
      &:not(:last-child) {
         border-bottom: 1px solid #E4E7EC;
      }

      &::after {
         content: '';
         display: inline-block;
         width: 13px;
         height: 13px;
         background-image: url(images/violet-arrow.svg);
         background-repeat: no-repeat;
         background-size: 13px;
      }
   } 
}

.review-top {
   max-width: 352px;
   background-color: #D1FADF;

   &__top {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      font-size: 16px;
      color: #101828;
      margin-bottom: 32px;
   }

   &__link-top {
      font-weight: 400;
      font-size: 14px;
      color: #6941C6;

      &::after {
         content: '';
         display: inline-block;
         width: 13px;
         height: 13px;
         background-image: url(images/violet-arrow.svg);
         background-repeat: no-repeat;
         background-size: 13px;
         vertical-align: middle;
         margin-left: 8px;
      }
   }

   &__middle {
      margin-bottom: 16px;
   }

   &__img {
      max-width: 100%;
   }

   &__link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      color: #6941C6;
      border: 1px solid #6941C6;
      padding: 16px 32px;
      transition: 0.3s;

      &:hover {
         background-color: rgba(105, 65, 198, 0.3);
      }

      &::after {
         content: '';
         display: inline-block;
         width: 14px;
         height: 14px;
         background-image: url(images/violet-arrow.svg);
         background-repeat: no-repeat;
         background-size: 14px;
         transform: rotate(-45deg);
      }
   }
}

// =======HERO===========

.hero {
   padding-top: 16px;
   background-color: #9E77ED;
   background-image: url(images/hero/rectangle.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right bottom;
   border-top: 1px solid #B692F6;

   @media (min-width: 650px) {
      background-size: auto;
      background-position: 150% bottom;
   }


   &__content {
      position: relative;

      @media (min-width: 650px) {
         display: flex;
      }
   }

   &__text {
      
      @media (min-width: 720px) {
         max-width: 320px;
      }

      @media (min-width: 1150px) {
         max-width: 528px;
      }
   }

   &__title {
      color: #53389E;
      margin-bottom: 16px;

      @media (min-width: 650px) {
         font-size: 48px;
         font-weight: 700;
         line-height: 1.33;
      }

      @media (min-width: 1150px) {
         font-size: 60px;
      }

      &--text-white {
         color: #FFFFFF;
      }
   }

   &__desc {
      font-size: 16px;
      line-height: 1.5;
      font-weight: 500;
      color: #6941C6;
      margin-bottom: 38px;

      @media (min-width: 650px) {
         font-size: 24px;
         line-height: 1.33;
      }

      @media (min-width: 1150px) {
         font-size: 32px;
         line-height: 1.25;
      }
   }

   &__img {
      width: 170px;
      display: block;
      margin: 0 auto;

      @media (min-width: 650px) {
         width: auto;
      }
   }

   &__link {
      position: absolute;
      width: 100%;
      z-index: 1;
      bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 16px;
      line-height: 1.43;
      font-weight: 500;
      color: #6941C6;
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      transition: 0.4s;

      &:hover,
      &:focus-within {
         background-color: #9E77ED;
         color: #FFFFFF;

         svg path {
            fill: #FFFFFF;
         }
      }

      @media (min-width: 650px) {
         max-width: 257px;
         bottom: 32px;
      }

      @media (min-width: 992px) {
         max-width: 389px;
         font-size: 20px;
         line-height: 1.4;
         bottom: 32px;
         padding: 16px 32px;
      }

      & svg {
         transform: rotate(90deg);
      }

      & svg path {
         fill:#6941C6;
      }
   }
}

// ====== STATS ===========

.stats {
   padding-top: 16px;
   margin-bottom: 48px;

   &__container {
      display: grid;
      gap: 8px;

      @media (min-width: 768px) {
         grid-template-columns: repeat(4, 1fr);
         gap: 16px;
      }
   }

   &__item {
      display: flex;
      align-items: center;
      gap: 32px;
      padding: 16px;
      background-color: #F9FAFB;

      @media (min-width: 768px) {
         flex-direction: column;
         align-items: flex-start;
      }
   }

   &__icon {
      width: 48px;
   }

   &__info {
      font-weight: 500;
      display: flex;
      flex-direction: column;
   }

   &__value {
      font-size: 24px;
      line-height: 1.33;
      color: #101828;
   }

   &__text {
      font-size: 14px;
      line-height: 1.43;
      color: #98A2B3;
   }
}

// ========= TOP-5 ============

.top-5 {
   margin-bottom: 40px;

   &__title {
      margin-bottom: 16px;

      &--text-violet {
        color: #6941C6;
      }
   }
}

.top-5 .swiper-wrapper {
   padding-bottom: 36px;
}

.top-5 .swiper-slide {
   max-width: 288px; 
   
   @media (min-width: 980px) {
      max-width: 384px; 
   }
}

.card {
   border: 1px solid #E4E7EC;

   &__header {
      padding-top: 16px;
      background-color: #D1FADF;
   }

   &__title {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      padding-left: 16px;
      margin-bottom: 24px;
   }

   &__img {
      max-width: 100%;
      padding: 0 7px;
   }

   &__info {
      padding: 16px;
   }

   &__subtitle {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      margin-bottom: 8px;

      &--opacity {
         opacity: 0.32;
      }
   }

   &__list {
      margin-bottom: 24px;
   }

   &__rating {
      margin-bottom: 8px;

      & span {
         font-size: 14px;
         line-height: 1.43;
         font-weight: 500;
         margin-left: 8px;
      }
   }

   &__reviews {
      margin-bottom: 24px;
   }

   &__reviews-amount {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      line-height: 1.33;
      color: #6941C6;

      &::before {
         content: '';
         display: inline-block;
         width: 12px;
         height: 16px;
         background-image: url(images/top-5/reviews.svg);
         background-repeat: no-repeat;
         background-size: 12px 16px;
      }
   }

   &__links {
      display: flex;
      align-items: center;
      gap: 16px;
   }

   &__site-link {
      font-size: 14px;
      line-height: 1.43;
      font-weight: 500;
      color: #FFFFFF;
      background-color: #6941C6;
      outline: 1px solid #6941C6;
      padding: 10px 16px;
      display: flex;
      align-items: center;
      transition: 0.5s;

      & svg {
         margin-left: 10px;
         transform: rotate(-45deg);
      }

      &:hover,
      &:focus-within {
         background-color: #FFFFFF;
         color: #6941C6;

         svg path {
            fill: #6941C6;
         }
      }
   }

   &__review-link {
      font-size: 14px;
      line-height: 1.43;
      color: #6941C6;
      transition: 0.5s;

      &:hover,
      &:focus-within {
         color: #101828;
      }
   }
}
   
.services-list {

   &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      line-height: 1.33;

      &:not(:last-child) {
         margin-bottom: 8px;
      }

      &::before {
         content: '';
         display: inline-block;
         width: 12px;
         height: 16px;
         background-image: url(images/top-5/checkmark.svg);
         background-repeat: no-repeat;
         background-size: 12px 16px;
      }
   }
}

// ======= CATEGORIS ==========

.categories {
   margin-bottom: 40px;

   & .swiper-wrapper {
   padding-bottom: 16px;
   }

   & .swiper-slide {
      width: 292px;

      @media (min-width: 650px) {
         width: auto;
      }
   }

   &__title {
      margin-bottom: 20px;
   }


   &__swiper-wrapper {

      @media (min-width: 650px) {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 16px;
      }

      @media (min-width: 1150px) {
         grid-template-columns: repeat(4, 1fr);
      }
   }


   &__item {
      position: relative;
      background: linear-gradient(68.44deg, #DDD6F3 0%, #FAACA8 100%);
      padding: 4px;
      min-height: 144px;
      margin-bottom: 16px;
      
      &:hover {
         .categories__subtitle::after {
            transform: translateX(10px);
         }
         .categories__content {
            background: linear-gradient(68.44deg, #DDD6F3 0%, #FAACA8 100%);
         }
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 16px;
      background-color: #fff;
      min-height: 144px;
   }

   &__text {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
   }

   &__name {
      font-size: 11px;
      line-height: 1.45;
      font-weight: 500;
      color: #667085;
      text-transform: uppercase;
   }

   &__subtitle {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 20px;
      line-height: 1.4;

      &::after {
         content: '';
         display: inline-block;
         width: 28px;
         height: 28px;
         margin-top: 5px;
         background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0Ljg2NzcgOC44MzMzM0w4LjYwOTY2IDIuNTc1MzNMMTAuMjU5MyAwLjkyNTY1OUwxOS4zMzM3IDkuOTk5OTlMMTAuMjU5MyAxOS4wNzQzTDguNjA5NjYgMTcuNDI0N0wxNC44Njc3IDExLjE2NjdIMC42NjY5OTJWOC44MzMzM0gxNC44Njc3WiIgZmlsbD0iIzY5NDFDNiIvPgo8L3N2Zz4K");
         background-repeat: no-repeat;
         transition: 0.3s;
      }

      &:hover {
         color: #6941C6;
      }
   }

   &__link {

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
}

// ======== ABOUT ==========

.about {
   margin-bottom: 48px;

   &__article {
      border: 8px solid #F2F4F7;
      padding: 24px 8px 0;
      margin-bottom: 8px;

      @media (min-width:650px) {
         padding: 24px 24px 0;
      }

      @media (min-width:1150px) {
         padding: 32px 64px 0;
      }
   }

   &__heading {
      font-size: 20px;
      line-height: 1.4;
      font-weight: 500;
      color: #D0D5DD;
      margin-bottom: 32px;
   }

   &__title {
      margin-bottom: 32px;

      @media (min-width:1150px) {
         font-weight: 300;
      }
   }

   .title--text-violet {
      @media (min-width:1150px) {
         font-weight: 700;
      }
   }

   &__subtitle {
      font-size: 20px;
      line-height: 1.4;
      font-weight: 500;
      color: #101828;
      margin-bottom: 16px;
   }

   &__content {
      @media (min-width:650px) {
         display: flex;
      }
   }

   &__list {
      margin-bottom: 32px;
   }

   &__socials {
      margin-bottom: 15px;

      @media (min-width:1150px) {
         margin-bottom: 0;
         padding: 24px 0 48px;
      }
   }

   &__img {
      align-self: flex-end;
   }

   &__pic {
      display: block;
      max-width: 288px;
      margin: 0 auto;
      margin-bottom: -8px;
      z-index: 1;
      position: relative;

      @media (min-width:650px) {
         margin: 0;
      }

      @media (min-width:1150px) {
         max-width: 488px;
      }
   }
}

.list-about {

   &__item {
      display: grid;
      grid-template-columns: 40px auto;
      grid-template-rows: auto auto;
      column-gap: 16px;
      font-size: 14px;
      line-height: 1.43;
      color: #667085;

      &:not(:last-child) {
         margin-bottom: 16px;

         @media (min-width:1150px) {
            margin-bottom: 32px;
         }
      }

      & span {
         font-weight: 500;
         color: #101828;
      }
   }

   &__icon {
      grid-row: 1/3;
   }
}

// ======GUESTBOOK ==========

.guestbook {
   margin-bottom: 48px;

   &__title {
      margin-bottom: 16px;
   }

   &__content {
      padding: 16px 0 8px 8px;
      background: #6941C6;
      margin-bottom: 8px;
      position: relative;

      @media (min-width: 1150px) {
         max-height: 400px;
         overflow: hidden;
         display: flex;
         padding: 0;
      }
   }

   .swiper {
      overflow: inherit;
      position: static;
   }

   .swiper-wrapper {
      padding: 0 0 36px
   }

   .swiper-slide {
      max-width: 256px;

      @media (min-width: 1150px) {
         max-width: 552px;
         max-height: 200px;
      }
   }

   .swiper-pagination {
      height: auto!important;
      width: auto!important;
   }

   .swiper-vertical .swiper-pagination  {
      transform: rotate(90deg);
      display: flex;
      justify-content: center;
      right: -62px;
      .swiper-pagination-bullet {
         margin: 0 8px;
      }
   }
   .swiper-horizontal .swiper-pagination {
      bottom: 16px;
   }

   .swiper-pagination-bullet {
      background-color: #FFFFFF;
      opacity: 0.5;
      position: static;
      margin:0 8px;
   }

   .swiper-pagination-bullet-active {
      background-color: #FFFFFF;
      opacity: 1;
   }
}

.top-review {
   padding: 0 8px 24px 8px;
   font-weight: 500;
   color: #FFFFFF;

   @media (min-width: 1150px) {
      max-width: 492px;
      padding: 32px 32px 64px;
   }

   &__emojis {
      display: inline-block;
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 16px;
   }

   &__text {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 16px;
   }

   &__user {
      opacity: 0.56;
   }

   &__name {
      font-size: 14px;
      line-height: 1.43;
   }

   &__school {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.33;
   }
}

.review {
   padding: 16px;
   background-color: #FFFFFF;

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__emojis {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 16px;
   }

   &__text {
      font-size: 14px;
      line-height: 1.43;
      color: #101828;
      margin-bottom: 16px;
   }

   &__name {
      font-size: 14px;
      line-height: 1.43;
      color: #101828;
   }

   &__school {
      font-size: 12px;
      line-height: 1.33;
      color: #667085
   }
}

// ===== BLOG ========

.blog {
   margin-bottom: 48px;

   &__title {
      margin-bottom: 16px;
   }

   &__swiper {
      margin-bottom: 8px;
   }
}

.blog .swiper-slide {
   max-width: 288px;
}

.post {
   position: relative;
   max-width: 288px;
   height: 348px;

   &:hover {

      .post__link {
         color: #FFFFFF;
         background-color: #6941C6;
   
         & svg path {
            fill: #FFFFFF;
         }
      }
   }

   &__img {
      max-width: 100%;
   }

   &__content {
      padding: 16px 0px 8px;
      border: 1px solid #E4E7EC;
      display: flex;
      flex-direction: column;
      min-height: calc(100% - 144px);
   }

   &__header {
      padding: 0px 16px 32px;
      flex: 1;
   }

   &__title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: #101828;
      margin-bottom: 16px;
   }

   &__likes {
      display: flex;
      align-items: center;
      font-size: 11px;
      line-height: 1.45;
      color: #667085;

      &::before {
         content: '';
         display: inline-block;
         width: 16px;
         height: 16px;
         background-image: url(images/blog/like.svg);
         background-repeat: no-repeat;
      }
   }

   &__link {
      font-size: 14px;
      line-height: 1.43;
      padding: 10px 8px;
      color: #6941C6;
      background-color: #FFFFFF;
      transition: 0.3s;

      & svg {
         margin-left: 8px;
         vertical-align: middle;
      }

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__read-more {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 8px;
      padding-right: 4px;

      &::after {
         content: '';
         display: inline-block;
         width: 48px;
         height: 48px;
         background: linear-gradient(135deg, rgba(228,231,236,1) 50%, rgba(255,255,255,1) 50%);
      }
   }
}

// ===== SUBSCRIBE ===== 

.subscribe {
   margin-bottom: 48px;

   &__title {
      margin-bottom: 8px;

      @media (min-width: 1150px) {
         font-weight: 300;
      }
   }

   .title--text-violet {
      @media (min-width: 1150px) {
         font-weight: 700;
      }
   }

   &__text {
      font-size: 14px;
      line-height: 1.43;
      color: #667085;
      margin-bottom: 16px;
   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (min-width: 850px) {
         flex-direction: row;
         border: 1px solid #98A2B3;
         padding: 25px;
         gap: 32px;
      }
   }

   &__email {
      font-size: 16px;
      line-height: 1.5;
      color: #667085;
      background-color: #FFFFFF;
      border: 1px solid #98A2B3;
      padding: 16px;
      outline: none;

      @media (min-width: 850px) {
         border: none;
         font-size: 30px;
         line-height: 1.3;
         width: 100%;
         padding: 0;
      }
   }

   &__btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      line-height: 1.4;
      font-weight: 500;
      color: #FFFFFF;
      background-color: #6941C6;
      padding: 16px;
      transition: 0.3s;

      @media (min-width: 850px) {
         padding: 16px 32px;
         gap: 16px;
      }

      &:hover,
      &:focus-within {
         color: #6941C6;
         background-color: #F4EBFF;

         & svg path {
            fill: #6941C6;
         }
      }
   }

   &__overlay {
      display: none;
      position: fixed;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 9999;

      &--open-js {
         display: block;
      }
   }
}

.modal {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   background-color: #FFFFFF;
   z-index: 99999;
   color: #101828;
   max-width: 488px;

   &--open-js {
      display: block;
   }

   &__content {
      padding: 32px;
   }

   &__title {
      font-size: 24px;
      line-height: 1.33;
      font-weight: 500;
      margin-bottom: 16px;
   }

   &__text {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 32px;
   }

   &__close-btn {
      display: block;
      margin-left: auto;
      padding: 10px 16px;
      color: #FFFFFF;
      background-color: #6941C6;
   }
}



// ===== FOOTER =====

.footer {
   padding: 32px 0;
   background-color: #F2F4F7;

   &__top {
      margin-bottom: 32px;
   }

   &__middle {
      @media (min-width: 992px) {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 48px;
      }
   }

   &__no-padding-container {
      max-width: 1216px;
      margin: 0 auto;
   }

   &__bottom {
      border-top: 1px solid #E4E7EC;
   }

   &__flex {
      padding-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media (min-width: 992px) {
         flex-direction: row;
         gap: 0;
         align-items: center;
         justify-content: space-between;
      }
   }

   &__copyright {
      font-size: 11px;
      line-height: 1.45;
      color: #98A2B3;
      order: -1;
   }
}

.menu-footer {
   font-size: 14px;
   line-height: 1.43;
   color: #101828;

   &__subtitle {
      font-weight: 500;
      padding-bottom: 16px;
      border-bottom: 1px solid #E4E7EC;
      margin-bottom: 16px;
   }

   &__list {
      padding-bottom: 32px;
   }

   &__item {
      
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   &__link {
      display: flex;
      justify-content: space-between;

      &::after {
         content: '';
         display: inline-block;
         width: 13px;
         height: 13px;
         background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjQ3NjMgNi4xNjY2NEw2LjAwNjM0IDEuNjk2NjRMNy4xODQ2NyAwLjUxODMxMUwxMy42NjYzIDYuOTk5OThMNy4xODQ2NyAxMy40ODE2TDYuMDA2MzQgMTIuMzAzM0wxMC40NzYzIDcuODMzMzFIMC4zMzMwMDhWNi4xNjY2NEgxMC40NzYzWiIgZmlsbD0iIzk4QTJCMyIvPgo8L3N2Zz4K");
         background-repeat: no-repeat;
      }
   }
}





